nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    font-size: small;
    font-weight: 300;
    height: 30px;
    margin: 10px;
}

input {
    display: inline;
    height: 30px;
    width: 250px;
}

button {
    height: 30px;
    margin-left: 5px;  
}